
$base-font: $lato;



img{
    max-width: 100%;
}

body{
    font-family: $base-font;
    font-weight: $font-weight-normal;
    
}

h1,h2,h3,h4,h5{
    font-family: $bodoni;
    $headings-font-weight:  700;
    text-transform: uppercase;
    
}

@media(min-width:768px){
    header{
        .navbar-nav{
            li{
                margin-left: 50px;
            }
        }
    }
}

h2{
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
    text-align: left;
    margin-bottom: 5rem;
    font-weight: 300;
    
    
    
}

h2:after{
    content: '';
    height: 1px;
    width: 74px;
    background-color:  #ECD9D9;
    display: block;
    position: relative;
    margin-top: 20px;
}


