
$slider-dot: #ECD9D9;
$professionals-border: 1px solid #ECD9D9;

.professionals{
    margin-bottom: 7rem;
    .professionals-text{
        h4{
            font-family: $lato;
            line-height: 2.7 rem;
            font-size: 3rem;
            margin-bottom: 20px;
        }
        p{
            font-size: 1.2rem;
            font-weight: 300;

        }
    }
    .bx-wrapper {
        .bx-pager{
            bottom: -50px;

        }

    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: $slider-dot;

        width: 8px;
        height: 8px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }


}





@media(min-width:992px){
    .professionals-content{
        padding: 54px 190px 50px 95px;
        border-bottom: $professionals-border;
        border-top: $professionals-border;


    }

}


@media(min-width:768px){
    .professionals-content{
        .professionals-text{
            p{
                font-size: 1.6rem;
                line-height: 2.3rem

            }
        }


    }


}

@media(min-width:1200px){
    .professionals{
        .bx-wrapper {
            .bx-pager{
                bottom: 50px;

            }

        }
    }

}



