$pag-color: #1E1E1E;

.beauty-trends{
    padding: 20px 60px;
    .beauty-trends-caption{
        font-size: 15px;
        line-height: 1.7rem;
        margin-bottom: 12px !important;
    }
    
}

.pagination-example{
    .pagination{
        font-family: $bodoni;
        font-weight: 700;
        line-height: 24px;
        font-size: 16px;
        .page-item{
            .page-link{
                border: none;
                color: $pag-color;
            }
        }
        
   
        
    }
}